@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font-family: 'Inter', sans-serif;




$azul: #001a41;
$naranja: #ff8422;
$gris:  #f3f3f3;
$negro: #040D12;
$amarillo: #ffce00;
$blanco: #ffffff;
$gris-texto: #9e9d9d;

$border-radius: 10px !important;

$header-height: 3rem;
$nav-width: 68px;
$first-color: #040D12;
$first-color-light: #AFA5D9;
$white-color: #F7F6FB;
$normal-font-size: 1rem;
$z-fixed: 100;

