#preloader {
  font-family: $title-font;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.preloader-content {
  text-align: center;
}

.preloader-progress {
  width: 200px;
  height: 10px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.preloader-percent {
  font-size: 18px;
}

#content {
  display: none;
}
